---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---
<div class:list={["logo-container", className]}>
  <svg width="100%" height="100%" viewBox="0 0 1574 769" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <ellipse cx="1295.336" cy="488.201" rx="278.425" ry="279.868" style="fill:#1565c0;fill-opacity:0.65;"/>
    <ellipse cx="286.458" cy="488.201" rx="286.458" ry="279.868" style="fill:#1565c0;fill-opacity:0.65;"/>
    <path d="M807.292,208.333l0,312.5l520.833,0l-520.833,-312.5Z" style="fill:#1e88e5;fill-opacity:0.62;fill-rule:nonzero;"/>
    <path d="M807.292,520.833l0,-312.5l-520.833,0l520.833,312.5Z" style="fill:#90caf9;fill-opacity:0.72;fill-rule:nonzero;"/>
    <path d="M286.458,0l0,208.333c-148.575,0 -270.833,-94.045 -270.833,-208.333l270.833,-0Z" style="fill:#0d47a1;fill-opacity:0.78;fill-rule:nonzero;"/>
    <path d="M807.292,208.333l-208.333,-125l208.333,-0l-0,125Z" style="fill:#1565c0;fill-opacity:0.69;"/>
    <ellipse cx="807.292" cy="520.833" rx="83.333" ry="83.861" style="fill:#1565c0;fill-opacity:0.69;"/>
  </svg>
</div>

<style>
  .logo-container {
    pointer-events: none;
    z-index: -1;
  }
</style>
